<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  </head>
  <body>
    <div class="container">

      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/photo-gallery">Photo Gallery</a>
      </nav>
      <h1>Arundhati Roy - About</h1>
      <h3>Early Life And Career</h3>
      <p> Roy’s father was a Bengali tea planter, and her mother was a Christian of Syrian descent who challenged India’s inheritance laws by successfully suing for the right of Christian women to receive an equal share of their fathers’ estates. Though trained as an architect, Roy had little interest in design; she dreamed instead of a writing career. After a series of odd jobs, including artist and aerobics instructor, she wrote and costarred in the film In Which Annie Gives It to Those Ones (1989) and later penned scripts for the film Electric Moon (1992) and several television dramas.</p>
      <p>The films earned Roy a devoted following, but her literary career was interrupted by controversy. In 1995 she wrote two newspaper articles claiming that Shekhar Kapur’s film Bandit Queen exploited Phoolan Devi, one of India’s most wanted criminals in the early 1980s and a heroine of the oppressed. The columns caused an uproar, including a court case, and Roy retreated from the public and returned to the novel she had begun to write.</p>
      <h3>Activism And Legal Problems</h3>
      <p>Roy was active in various environmental and human rights causes, often putting herself at odds with Indian legal authorities and the country’s middle-class establishment. She drew criticism for her vocal support of Maoist-supported Naxalite insurgency groups, views she summarized in the volume Walking with the Comrades (2011). While Roy was leading efforts to prevent the construction of dams in Narmada, supporters of the project accused her of attacking them at a protest in 2001. Though the charges were dropped, she was convicted of contempt of court the next year after her petition for dismissal of the charges offended Supreme Court judges with its vituperative tone. She was fined and sentenced to a day of imprisonment. The incident was chronicled in the documentary DAM/AGE (2002).</p>
      <p>Roy’s legal problems continued, however, and in 2010 she narrowly avoided sedition charges after making remarks in support of Kashmiri independence. In December 2015 she was issued a contempt of court notice for an article in which she defended a professor who had been arrested for alleged Maoist links. Two years later the Supreme Court issued a stay, which temporarily stopped the proceedings. During this time Roy continued to be involved in various causes. In 2019 she was among a number of people who cosigned an open letter that called for Afghan women to be involved in peace talks between the United States and the Taliban.</p>  
      <p> In recognition of her outspoken advocacy of human rights, Roy was awarded the Lannan Cultural Freedom Award in 2002, the Sydney Peace Prize in 2004, and the Sahitya Akademi Award from the Indian Academy of Letters in 2006.</p>
    </div>

    <script src="/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>