<html>
  <head>
    <title>Arundhati Roy</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  </head>
  <body>
    <nav>
      <a href="/about">About</a>
      <a href="/works">Works</a>
      <a href="/photo-gallery">Photo Gallery</a>
    </nav>    
    <h1>Arundhati Roy</h1>
    <img src="/images/aut01.jpg" width=200/>
    <p>Suzanna Arundhati Roy (born 24 November 1961) is an Indian author best known for her novel The God of Small Things (1997), which won the Man Booker Prize for Fiction in 1997 and became the best-selling book by a non-expatriate Indian author. She is also a political activist involved in human rights and environmental causes.</p>
    <script src="/app.js"></script>
  </body>
</html>