<html>
  <head>
    <title>Works</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/photo-gallery">Photo Gallery</a>
    </nav>
    <h1>Arundhati Roy - Works</h1>
    <h3>Novels And Nonfiction Works</h3>
    <p>In 1997 Roy published her debut novel, The God of Small Things to wide acclaim. The semiautobiographical work departed from the conventional plots and light prose that had been typical among best-sellers. Composed in a lyrical language about South Asian themes and characters in a narrative that wandered through time, Roy’s novel became the biggest-selling book by a nonexpatriate Indian author and won the 1998 Man Booker Prize for Fiction.</p>
    <p>Roy’s subsequent literary output largely consisted of politically oriented nonfiction, much of it aimed at addressing the problems faced by her homeland in the age of global capitalism. Among her publications were Power Politics (2001), The Algebra of Infinite Justice (2002), War Talk (2003), Public Power in the Age of Empire (2004), Field Notes on Democracy: Listening to Grasshoppers (2009), Broken Republic: Three Essays (2011), and Capitalism: A Ghost Story (2014). In 2017 Roy published The Ministry of Utmost Happiness, her first novel in 20 years. The work blends personal stories with topical issues as it uses a large cast of characters, including a transgender woman and a resistance fighter in Kashmir, to explore contemporary India.</p>
    <script src="/app.js"></script>
  </body>
</html>